.mhNavbarlogo {
  height: 52px;
  width: 192px;
}

.mhNavbartogglerIcon {
  background-color: black !important;
}

.mhNavbarDropdownMenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mhNavbarDropdownMenu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .mhNavbarDropdownMenu {
  display: block;

}


.dropdown:hover .no_hover {
  display: none;
}

.dropdown:hover .yes_hover {
  display: inline !important;
}

.mhNavbarDropdownMenu a:hover {
  background-color: red;
}

.mhcollapsibleNavbar li:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.nav-link {
  padding: 0 !important;

  height: 100%;
  display: flex !important;
  align-items: center !important;
  display: block;
  transform: skew(20deg);
  color: inherit;
}

.navparent {
  padding: 0px !important;
}

.navbar-brand {
  padding: 0px !important;
}

.nav-item {
  transition: 0.3s;
  transform: skew(-20deg);
}

.dropdown {
  transform: skew(-20deg);
}

.dropbtn {
  transform: skew(0deg);
}

.DropdownButtonText {
  transform: skew(20deg);
}

.mhNavbarDropdownMenu {
  padding: 0 !important;
  margin: 0 !important;
}


/* .dropdown-item{
  transition: 0.3s;
  transform: skew(20deg);
} */

.link1Text,
.link2Text,
.link3Text {
  transform: skew(20deg);
}

.navparent {
  height: 120px
}

.mhcollapsibleNavbar {
  height: 100%;
}

.UlTag {
  height: 100%;
}

.dropbtn {
  height: 100%;
}

.mhpmuDash {
  border: 1px solid #d10d74;
  font-size: 13px;
  color: #d10d74;
  font-weight: 700;
  padding: 2px 14px 2px 14px;
  border-radius: 21px;
  height: 40px;
  display: inline-flex;
  align-items: center;
}